<div class="contenido-tab">
  <span class="ui-helper-hidden-accessible"><input type="text"/></span>
  <form action="" method="post" id="agendar_entrevistas"
class="pure-form  pure-form-stacked" >

     <label for="fecha_entrevista">Fecha de Entrevista</label>
     <input type="text"  name="fecha_entrevista" id="fecha_entrevista" placeholder="<%=Time.now.strftime('%d-%m-%Y') %>"/>

    <br>
    <center>
      <input type="button" onClick="enviar_formulario();" class="pure-button pure-button-primary" name="submit" value="Agendar" id="submitbutton"/>
    </center>
</form>

  <script type="text/javascript">


    function enviar_formulario(sender) {

        $("#agendar_entrevistas").validate();

        if(!$("#agendar_entrevistas").valid()) return;

        var formURL = "<%=entrevista_do_agendar_entrevistas_path%>";
        var a = <%=raw @ids_entrevistas.to_s%>;
        var b = $('#fecha_entrevista').val();

            $.ajax({
                url : formURL,
                type: "POST",
                data : {
                    ids_entrevistas: a,
                    fecha_entrevista: b
                },
                success:function(data, textStatus, jqXHR) {
                    if(data.status==="OK") {
                        $("#modal_entrevista_actualizacion_exitosa").dialog({
                            modal: true,
                            buttons: {
                                Ok: function () {
                                    $(this).dialog("close");
                                    $("#ventana_entrevista").dialog("close");
                                }
                            }
                        });
                        $('#flex1').flexReload();
                    }
                    else {
                        mostrar_error_tecnico();
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    mostrar_error_tecnico();
                }
            });
    }

    $("#agendar_entrevistas").validate({
        invalidHandler: function(event, validator) {
            $("#modal_entrevista_actualizacion_fallida_revisar_campos_obligatorios").dialog({
                        modal: true,
                        buttons: {
                            Ok: function () {
                                $(this).dialog("close");
                            }
                        }
                    }
            );
        },
        submitHandler: function() {
        },
        rules: {
            "fecha_entrevista"  : {
                //required: true,
                minlength: 10
                //fecha_retroactiva: ["fecha_llamada", "fecha_entrevista"]
            }
        }
    });


    $(function() {
        $( '#fecha_entrevista' ).datepicker({ dateFormat: 'dd-mm-yy' });
    });

</script>

<div id="modal_entrevista_actualizacion_exitosa" title="Mensaje" style="display:none;">
  La entrevista ha sido actualizada en forma exitosa!
</div>


  <div id="modal_entrevista_actualizacion_fallida_revisar_campos_obligatorios" title="Mensaje" style="display:none;">
    La entrevista no puede ser actualizada porque algunos campos son obligatorios y no fueron completados, revise los campos indicados (*) y luego vuelva a aceptar.
  </div>

</div>
