<div class="contenido-tab">

  <form action="/entrevista/do_alta_nueva_entrevista" method="post" id="alta_nueva_entrevista"
class="pure-form  pure-form-stacked ">

   <fieldset>
   <legend>Datos de la Entrevista</legend>

   <label for="fecha_llamada">Fecha Llamada</label>
   <input type="text"  name="fecha_llamada" id="fecha_llamada" />
   <label for="fecha_entrevista">Fecha Entrevista</label>
   <input type="text"  name="fecha_entrevista" id="fecha_entrevista" />
   <label for="lugar">Lugar</label>
   <input type="text"  name="lugar" id="lugar" />
   <label for="mama_escucha">Mamá Escucha</label>
   <input type="text"  name="mama_escucha" id="mama_escucha" />
   <label for="papa_escucha">Papá Escucha</label>
   <input type="text"  name="papa_escucha" id="papa_escucha" />
   <label for="como_supo">¿Como supo de ASDRA?</label>
   <input type="text"  name="como_supo" id="como_supo" />

  </fieldset>

    <fieldset>
    <legend>Datos del Papá</legend>


    <label for="papa_nombre_apellido">Nombre y Apellido del Papá</label>
    <input type="text"  name="papa_nombre_apellido" id="papa_nombre_apellido" />
    <label for="papa_edad">Edad del Papá</label>
    <input type="text"  name="papa_edad" id="papa_edad" />
    <label for="papa_ocupacion">Ocupación del Papá</label>
    <input type="text"  name="papa_ocupacion" id="papa_ocupacion" />
    <label for="papa_domicilio">Domicilio del Papá</label>
    <input type="text"  name="papa_domicilio" id="papa_domicilio" />
    <label for="papa_telefonos">Telefonos del Papá</label>
    <input type="text"  name="papa_telefonos" id="papa_telefonos" />
    <label for="papa_correo">Correo del Papá</label>
    <input type="text"  name="papa_correo" id="papa_correo" />

    </fieldset>

    <fieldset>
      <legend>Datos de la Mamá</legend>
      
        <label for="mama_nombre_apellido">Nombre y Apellido de la Mamá</label>
        <input type="text"  name="mama_nombre_apellido" id="mama_nombre_apellido" />
        <label for="mama_edad">Edad de la Mamá</label>
        <input type="text"  name="mama_edad" id="mama_edad" />
        <label for="mama_ocupacion">Ocupación de la Mamá</label>
        <input type="text"  name="mama_ocupacion" id="mama_ocupacion" />
        <label for="mama_domicilio">Domicilio de la Mamá</label>
        <input type="text"  name="mama_domicilio" id="mama_domicilio" />
        <label for="mama_telefonos">Telefonos de la Mamá</label>
        <input type="text"  name="mama_telefonos" id="mama_telefonos" />
        <label for="mama_correo">Correo de la Mamá</label>
        <input type="text"  name="mama_correo" id="mama_correo" />
    </fieldset>

    <fieldset>
      <legend>Datos del Nacimiento</legend>
      
        <label for="sexo">Sexo</label>
        <select id="sexo">
          <option value="X"></option>
          <option value="M">Masculino</option>
          <option value="F">Femenino</option>
        </select>
        <label for="fecha_nacimiento">Fecha de Nacimiento</label>
        <input type="text"  name="fecha_nacimiento" id="fecha_nacimiento" />
        <label for="institucion_nacimiento">Institucion Nacimiento</label>
        <input type="text"  name="institucion_nacimiento" id="institucion_nacimiento" />
        <label for="observacion_institucion">Observaciones de la Institución</label>
        <textarea rows="4" cols="50" id="observacion_institucion">
        </textarea>
        <label for="meses_nacimiento">Meses de Nacimiento</label>
        <input type="text"  name="meses_nacimiento" id="meses_nacimiento" />
        <label for="parto_normal">Parto Normal</label>
        <input type="checkbox" class="pure-checkbox" name="parto_normal" id="parto_normal" />
        <label for="sabia_sdown">Sabía que tiene S. Down</label>
        <input type="checkbox" class="pure-checkbox" name="sabia_sdown" id="sabia_sdown" />
        <label for="recepcion_flia">¿Cómo lo recibio la familia?</label>
        <textarea rows="4" cols="50" id="recepcion_flia">
        </textarea>
        <label for="patologia_agregada">Patología Agregada</label>
        <textarea rows="4" cols="50" id="patologia_agregada">
        </textarea>

    </fieldset>

    <fieldset>

      <!-- TODO: Falta los hermanos "nombre" y "si conviven con el nacido o no" -->
      <legend>Observaciones</legend>
      <textarea rows="4" cols="50" id="observaciones">
      </textarea>
    </fieldset>

    <input type="button" class="pure-button pure-button-primary" name="submit" value="Dar de Alta" id="submitbutton" onClick="enviar_formulario(this);"/>

</form>

<script>
    function enviar_formulario(sender) {
        $('#alta_nueva_entrevista').submit(function(e) {
                    var postData = $(this).serializeArray();
                    var formURL = $(this).attr("action");

                    $.ajax(
                            {
                                url : formURL,
                                type: "POST",
                                data : postData,
                                success:function(data, textStatus, jqXHR)
                                {
                                    if(data.status==="OK") {
                                        $("#modal_entrevista_alta_exitosa").dialog({
                                            modal: true,
                                            buttons: {
                                                Ok: function () {
                                                    $(this).dialog("close");
                                                }
                                            }
                                        });
                                    }
                                    else {
                                        mostrar_error_tecnico();
                                    }
                                },
                                error: function(jqXHR, textStatus, errorThrown)
                                {
                                    mostrar_error_tecnico();
                                }
                            });
                    e.preventDefault(); //STOP default action
                    e.unbind(); //unbind. to stop multiple form submit.

                }
        );

        $('#alta_nueva_entrevista').submit();
    }

    $(function() {
        $( '#fecha_llamada' ).datepicker({ dateFormat: 'dd-mm-yy' });
        $( '#fecha_entrevista' ).datepicker({ dateFormat: 'dd-mm-yy' });
        $( '#fecha_nacimiento' ).datepicker({ dateFormat: 'dd-mm-yy' });
        $( '#meses_nacimiento' ).spinner({
            max: 9,
            min: 5
        });

    });
</script>

<div id="modal_entrevista_alta_exitosa" title="Mensaje" style="display:none;">
  La entrevista ha sido dada de alta en forma exitosa!<!--</p>-->
</div>

</div>
