<div class="contenido-tab">
  <table id="flex1" style="display:none"></table>

</div>

<script type="text/javascript">

    $('#ventana_entrevista').dialog({
        autoOpen: false,
        resizable: false,
        modal: true,
        width:'auto',
        height: 'auto',
        draggable: false,
        position: 'center'
    });

    $("#flex1").flexigrid({
                url: 'entrevista/do_buscar_entrevistas',
                dataType: 'json',
                colModel : [
                    { display: 'Entrevista', name: 'r_id', width : 70, sortable : true, align: 'right' },
                    { display: 'Fecha Entrevista', name: 'fecha_entrevista', width : 90, sortable : true, align: 'left' },
                    { display: 'Fecha Llamada', name: 'fecha_llamada', width : 90, sortable : true, align: 'left' },
                    { display: 'Estado', name: 'descripcion_estado', width : 90, sortable : true, align: 'left' },
                    { display: 'Papá Escucha', name: 'papa_escucha', width : 90, sortable : true, align: 'left' },
                    { display: 'Mamá Escucha', name: 'mama_escucha', width : 90, sortable : true, align: 'left' },
                    { display: 'Nombre(s) del Bebé', name: 'nombres', width : 90, sortable : true, align: 'left' },
                    { display: 'Edad del Bebé', name: 'edad', width : 90, sortable : true, align: 'left' }
                ],
                buttons : [
                    {name: 'Nueva'    , bclass: 'iconButtonAdd'   , onpress : comandosGrillaEntrevistas },
                    {name: 'Modificar', bclass: 'iconButtonEdit'  , onpress : comandosGrillaEntrevistas },
                    {name: 'Consultar', bclass: 'iconButtonQuery' , onpress : comandosGrillaEntrevistas },
                    {name: 'Eliminar' , bclass: 'iconButtonDelete', onpress : comandosGrillaEntrevistas },
                    {name: 'Notificar', bclass: 'iconButtonNotify', onpress : comandosGrillaEntrevistas },
                    {name: 'Imprimir' , bclass: 'iconButtonPrint' , onpress : comandosGrillaEntrevistas },
                    {separator: true},
                    {name: 'Seleccionar Todo', bclass: 'iconButtonSelectAll', onpress: comandosGrillaEntrevistas },
                    {name: 'Deseleccionar Todo', bclass: 'iconButtonDeselectAll', onpress: comandosGrillaEntrevistas },
                    {separator: true},
                    {name: 'Descargar a Excel', bclass: 'iconButtonExcel', onpress: comandosGrillaEntrevistas }
                ],
                searchitems : [
                    {display: 'Fecha Entrevista', name : 'fecha_entrevista'},
                    {display: 'Papá Escucha', name : 'papa_escucha'},
                    {display: 'Mamá Escucha', name : 'mama_escucha'},
                    {display: 'Estado', name : 'descripcion_estado'}
                ],
                sortname: "r_id",
                sortorder: "asc",
                usepager: true,
                useRp: false,
                rp: 20,
                showTableToggleBtn: false,
                resizable: false,
                singleSelect: false
            }
    );

    function comandosGrillaEntrevistas(command, grid) {

        var rows = $('.trSelected', grid);
        var rows_selected = rows.size();

        if(command === "Seleccionar Todo") {
            $('.bDiv tbody tr', grid).addClass('trSelected');
            return;
        }

        if(command === "Deseleccionar Todo") {
            $('.bDiv tbody tr',grid).removeClass('trSelected');
            return;
        }

        if(command === "Descargar a Excel") {
            var qtype = $('.sDiv2').find('select').val();
            var query = $('.sDiv2').find('input').val();
            descargar_entrevistas_excel(qtype, query);
            return;
        }

        if(command === "Nueva") {
            mostrar_alta_nueva_entrevista();
            return;
        }

        if(rows_selected > 1 && command != 'Notificar') {
            alert('No puede Consultar/Modificar más de una Entrevista a la vez, quite de su selección ' + (rows_selected-1) + ' Entrevistas.')
            return;
        }
        else if(rows_selected == 0) {
            alert('No hay ninguna Entrevista seleccionadas para iniciar la acción.');
            return;
        }

        var id = null;
        var ids = [];

        rows.each(function() {
            id = $(this).find("[abbr='r_id']")[0].innerText.trim();
            ids.push(id);
        });

        switch(command) {
            case "Modificar":
                alert('Funcionalidad aun no disponible, actualmente esta en desarollo');
                //alert('Modificando Entrevista: ' + id);
                break;
            case "Consultar":
                mostrar_consulta_entrevista(id);
                break;
            case "Notificar":
                alert('Funcionalidad aun no disponible, actualmente esta en desarollo');
                //alert('Las ' + rows_selected + ' Entrevistas seleccionadas fueron notificadas.');
                break;
            case "Eliminar":
                enviar_eliminacion_padres(ids);
                break;
        }
    }

    function descargar_entrevistas_excel(qtype, query) {
        window.location = '/entrevista/do_buscar_entrevistas_excel?qtype=' + qtype + '&query=' + query;
    }

    function enviar_eliminacion_padres(ids) {
        $.ajax({
            url: 'entrevista/eliminar_entrevistas',
            type: 'POST',
            data: JSON.stringify({
                ids: ids
            }),
            dataType: 'json',
            contentType: 'application/json',
            success: function(data) {
                if(data.status === "OK") {
                    alert('Se eliminaron las Entrevistas seleccionados.');
                    $('#flex1').flexReload();
                }
                else {
                    mostrar_error_tecnico();
                }

            },
            error: function(jqXHR, textStatus, errorThrown) {
                mostrar_error_tecnico();
            }
        });
    }

    function mostrar_alta_nueva_entrevista() {

        $.ajax({
            url: '/entrevista/alta_nueva_entrevista',
            method: 'GET',
            contentType: 'text/html',
            success: function(data) {
                $("#ventana_entrevista").html(data).dialog('open', { title: 'Alta de nueva Entrevista'});
            }
        });

    }

    function mostrar_consulta_entrevista(id_entrevista) {
        $.ajax({
            url: '/entrevista/consulta_entrevista',
            data: { 'id_entrevista' : id_entrevista },
            method: 'GET',
            contentType: 'text/html',
            success: function(data) {
                $("#ventana_entrevista").html(data).dialog('open', { title: 'Consultando Entrevista'});
            }
        });
    }

</script>

<div id="ventana_entrevista"></div>