<div class="contenido-tab">
  <table id="flex1" style="display:none"></table>

</div>

<script type="text/javascript">

    $("#flex1").flexigrid({
                url: 'entrevista/do_buscar_entrevistas',
                dataType: 'json',
                colModel : [
                    { display: 'Entrevista', name: 'r_id', width : 70, sortable : true, align: 'right' },
                    { display: 'Fecha Entrevista', name: 'fecha_entrevista', width : 70, sortable : true, align: 'left' },
                    { display: 'Fecha Llamada', name: 'fecha_llamada', width : 70, sortable : true, align: 'left' },
                    { display: 'Lugar', name: 'lugar', width : 70, sortable : true, align: 'left' },
                    { display: '¿Como supo?', name: 'como_supo', width : 70, sortable : true, align: 'left' },
                    { display: 'Nombre y Apellido Papá', name: 'papa_nombre_apellido', width : 70, sortable : true, align: 'left' },
                    { display: 'Edad Papá', name: 'papa_edad', width : 70, sortable : true, align: 'right' },
                    { display: 'Ocupación Papá', name: 'papa_ocupacion', width : 70, sortable : true, align: 'left' },
                    { display: 'Domicilio Papá', name: 'papa_domicilio', width : 70, sortable : true, align: 'left' },
                    { display: 'Telefonos Papá', name: 'papa_telefonos', width : 70, sortable : true, align: 'left' },
                    { display: 'Correo Papá', name: 'papa_telefonos', width : 70, sortable : true, align: 'left' }

                ],
                buttons : [
                    {name: 'Nueva'    , bclass: 'iconButtonAdd'   , onpress : comandosGrillaEntrevistas },
                    {name: 'Modificar', bclass: 'update', onpress : comandosGrillaEntrevistas },
                    {name: 'Consultar', bclass: 'iconButtonQuery' , onpress : comandosGrillaEntrevistas },
                    {name: 'Notificar', bclass: 'notify', onpress : comandosGrillaEntrevistas },
                    {name: 'Imprimir' , bclass: 'iconButtonPrint' , onpress : comandosGrillaEntrevistas },
                    {separator: true}
                ],
                searchitems : [
                    {display: 'Fecha Entrevista', name : 'fecha_entrevista'}
                ],
                sortname: "r_id",
                sortorder: "asc",
                usepager: true,
                useRp: false,
                rp: 20,
                showTableToggleBtn: false,
                resizable: false,
                singleSelect: false
            }
    );

    function comandosGrillaEntrevistas(command, grid) {
        if(command === "Nueva") {
            mostrar_alta_nueva_entrevista();
            return;
        }

        var rows = $('.trSelected', grid);

        var rows_selected = rows.size();

        if(rows_selected > 1 && command != 'Notificar') {
            alert('No puede Consultar/Modificar más de una Entrevista a la vez, quite de su selección ' + (rows_selected-1) + ' Entrevistas.')
            return;
        }
        else if(rows_selected == 0) {
            alert('No hay Entrevistas seleccionadas para iniciar la acción.');
            return;
        }

        var id = null;

        rows.each(function() {
            id = $(this).find("[abbr='r_id']")[0].innerText.trim();
        });

        switch(command) {
            case "Modificar":
                alert('Funcionalidad aun no disponible, actualmente esta en desarollo');
                //alert('Modificando Entrevista: ' + id);
                break;
            case "Consultar":
                mostrar_consulta_entrevista(id);
                break;
            case "Notificar":
                alert('Funcionalidad aun no disponible, actualmente esta en desarollo');
                //alert('Las ' + rows_selected + ' Entrevistas seleccionadas fueron notificadas.');
                break;
        }
    }

    function mostrar_alta_nueva_entrevista() {
        jQuery('#ventana_entrevista')
                .load('/entrevista/alta_nueva_entrevista')
                .dialog({
                    autoOpen: true,
                    resizable: false,
                    modal: true,
                    width:'auto',
                    height: 'auto',
                    title: 'Alta de Nueva Entrevista',
                    draggable: false,
                    position: 'center'
                });
    }

    function mostrar_consulta_entrevista(id_entrevista) {
        jQuery('#ventana_entrevista')
                .load('/entrevista/consulta_entrevista?id_entrevista=' + id_entrevista)
                .dialog({
                    autoOpen: true,
                    resizable: false,
                    modal: true,
                    width:'auto',
                    height: 'auto',
                    title: 'Consulta de Entrevista',
                    draggable: false,
                    position: 'center'
                });
    }

</script>

<div id="ventana_entrevista"></div>