<div class="contenido-tab">

  <img src="/assets/product_name.png">

   gonzalo.vinas@gmail.com
<br>

  <a href="http://ar.linkedin.com/in/gonzalovinas">

    <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_120x33.png" width="120" height="33" border="0" alt="View Gonzalo Viñas's profile on LinkedIn">

  </a>

</div>
