  <div id="tab-acerca" >
    <ul>
      <li><a href="<%=welcome_acerca_sistema_path%>>">Sistema y Autor</a></li>
      <li><a href="<%=welcome_acerca_marcas_path%>">Marcas, Plataformas y Comunidad</a></li>
      <li><a href="<%=welcome_acerca_soporte_path%>">Soporte</a></li>
    </ul>
  </div>



<script type="text/javascript">
    $(document).ready(function() {
        $(function () {
            $("#tab-acerca").tabs({
                cache: false,
                beforeLoad: function (event, ui) {
                    if ($(ui.panel).html()) {
                        event.preventDefault();
                        return false;
                    }
                    else {
                        ui.panel.html('<div><img src="<%=image_url('loading.gif')%>" /></div>');
                        return true;
                    }
                }
            });
        })
    });
</script>
