<div class="contenido-tab">
    <img src="https://travis-ci.org/gonzalovinas/asdra-papa-escucha.svg?branch=master">
    <br>
    <br>
    Puede acceder a distintos sistemas en la nube para la administraci贸n de:
    <br>
    <br>
    <img src="http://t0.gstatic.com/images?q=tbn:ANd9GcRn5SEA8NV8QQCUat_h7mI3E49-kB0xxaAez3S8wpI1MV0ThX5K" width="100px" height="100px">
    <img src="<%=image_url('link.png')%>"><a href="https://github.com/gonzalovinas/asdra-papa-escucha">Repositorio de c贸digo fuente con control de versionado en <b>GitHub</b></a>
    <br>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCQhTUfHi2f7asc3WeoYQ4CdPmuA8gukof46jT1cvAiPSSrUc4" width="100px" height="100px">
    <img src="<%=image_url('link.png')%>"><a href="http://youtrack.myzeta.tk/issues/PAPE">Reporte y resoluci贸n de incidencias en <b>Youtrack</b></a>
    <br>
    <img src="http://www.testically.org/wp-content/uploads/2011/11/twitter.png" width="100px" height="100px">
    <img src="<%=image_url('link.png')%>"><a href="https://travis-ci.org/gonzalovinas/asdra-papa-escucha/">Integraci贸n Continua con <b>Travis</b></a>


</div>
