<!DOCTYPE html>
<html>
<head>
  <title>Inicio de Sesión</title>
<body>
    <form id="inicio_sesion" name="inicio_sesion" action="/welcome/do_login" method="post">
        
    <label for="usuername">Usuario</label>
    <input type="text" id="username" name="username" placehoder="Escriba su nombre de usuario"/>
    
    <label for="usuername">Contraseña</label>
    <input type="password" id="password" name="password" />
    
    <input type="submit" class="pure-button pure-button-primary" name="submit" value="Iniciar" id="submitbutton"/>

    </form>
</body>


</html>
