/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.contenido-tab  {
    font-size:80%;
}

.contenido-tab legend {
    font-weight: bold;
    color: #0078e7;
}

label.error {
    display: block;
    float: none;
    color: #ff0000;
    vertical-align: top;
    font-size: x-small;
}

.ui-datepicker {
    font-size: small;
}

.my-n3t-event-day {
    padding:1px 1px;
    border:1px solid #bba595;
    border-top:none;
}

.col-derecha {
    width: 50% !important;
    float: left !important;
    position: relative !important;
}

.col-izquierda {
    width: 50% !important;
    float: left !important;
    position: relative !important;
}

.ui-widget-content {
    border: none !important;
}

.flip-counter ul.cd {
    float: none     !important;
}

input[readonly="readonly"] {
    background-color: #dbdbe0;
}

.flexigrid .iconButtonPrint {
    background: url('printer.png')  no-repeat left !important;
}

.flexigrid .iconButtonAdd {
    background: url('add.png')  no-repeat left !important;
}

.flexigrid .iconButtonQuery {
    background: url('eye.png')  no-repeat left !important;
}

.flexigrid .iconButtonNotify {
    background: url('bell.png')  no-repeat left !important;
}

.flexigrid .iconButtonEdit {
    background: url('pencil.png')  no-repeat left !important;
}

.flexigrid .iconButtonDelete {
    background: url('delete.png')  no-repeat left !important;
}

.flexigrid .iconButtonSelectAll {
    background: url('select_all.png')  no-repeat left !important;
}

.flexigrid .iconButtonDeselectAll {
    background: url('deselect_all.png')  no-repeat left !important;
}

.flexigrid .iconButtonExcel {
    background: url('excel.png')  no-repeat left !important;
}

.flexigrid .iconButtonStateChange {
    background: url('state.png')  no-repeat left !important;
}

.flexigrid .iconButtonCalendar {
    background: url('calendar.png')  no-repeat left !important;
}

.flexigrid .iconButtonParentsChange {
    background: url('parents.png')  no-repeat left !important;
}

textarea {
    resize: vertical;
}

.footer {
    background-color: #54545d;
    height: 15px;
    text-align: center;
    font-size:10px;
    color: white;
    font-family:Verdana;
    font-size: xx-small
    padding-top: 10px;
    width: 100%;
    position:fixed;
    left: 0px;
    bottom: 0px;
}