<div class="contenido-tab">
  <table id="flex2" style="display:none"></table>

</div>

<script type="text/javascript">

    $('#ventana_padre').dialog({
        autoOpen: false,
        resizable: false,
        modal: true,
        width:'auto',
        height: 'auto',
        draggable: false,
        position: 'center'
    });

    $("#flex2").flexigrid({
                url: 'administracion/do_buscar_padres',
                dataType: 'json',
                colModel : [
                    { display: 'Identificador'  , name: 'r_id', width : 70, sortable : true, align: 'right' },
                    { display: 'Apellido(s)'    , name: 'apellidos', width : 150, sortable : true, align: 'right' },
                    { display: 'Nombre(s)'      , name: 'nombres', width : 150, sortable : true, align: 'right' },
                    { display: 'Correo'         , name: 'correo', width : 150, sortable : true, align: 'right' },
                    { display: 'Telefono(s)'    , name: 'telefonos', width : 150, sortable : true, align: 'right' }
                ],
                buttons : [
                    {name: 'Nuevo'    , bclass: 'iconButtonAdd'   , onpress : comandosGrillaPadres },
                    {name: 'Modificar', bclass: 'iconButtonEdit'  , onpress : comandosGrillaPadres },
                    {name: 'Consultar', bclass: 'iconButtonQuery' , onpress : comandosGrillaPadres },
                    {name: 'Eliminar' , bclass: 'iconButtonDelete', onpress : comandosGrillaPadres },
                    {separator: true},
                    {name: 'Seleccionar Todo', bclass: 'iconButtonSelectAll', onpress: comandosGrillaPadres },
                    {name: 'Deseleccionar Todo', bclass: 'iconButtonDeselectAll', onpress: comandosGrillaPadres },
                    {separator: true},
                    {name: 'Descargar a Excel', bclass: 'iconButtonExcel', onpress: comandosGrillaPadres }
                ],
                searchitems : [
                    { display: 'Correo'     , name: 'correo'    },
                    { display: 'Apellido(s)', name: 'apellidos' },
                    { display: 'Telefono(s)', name: 'telefonos' }
                ],
                sortname: "r_id",
                sortorder: "asc",
                usepager: true,
                useRp: false,
                rp: 20,
                showTableToggleBtn: false,
                resizable: false,
                singleSelect: false
            }
    );

    function comandosGrillaPadres(command, grid) {

        var rows = $('.trSelected', grid);
        var rows_selected = rows.size();

        if(command === "Seleccionar Todo") {
            $('.bDiv tbody tr', grid).addClass('trSelected');
            return;
        }

        if(command === "Deseleccionar Todo") {
            $('.bDiv tbody tr',grid).removeClass('trSelected');
            return;
        }

        if(command === "Descargar a Excel") {
            var qtype = $('.sDiv2').find('select').val();
            var query = $('.sDiv2').find('input').val();
            descargar_padres_excel(qtype, query);
            return;
        }

        if(command === "Nuevo") {
            mostrar_alta_nuevo_padre();
            return;
        }

        if(rows_selected > 1 && command != 'Notificar') {
            alert('No puede Consultar/Modificar más de una Padre a la vez, quite de su selección ' + (rows_selected-1) + ' Entrevistas.')
            return;
        }
        else if(rows_selected == 0) {
            alert('No hay ningún Padre seleccionadas para iniciar la acción.');
            return;
        }

        var id = null;
        var ids = [];

        rows.each(function() {
            id = $(this).find("[abbr='r_id']")[0].innerText.trim();
            ids.push(id);
        });

        switch(command) {
            case "Modificar":
                alert('Funcionalidad aun no disponible, actualmente esta en desarollo');
                //alert('Modificando Entrevista: ' + id);
                break;
            case "Consultar":
                alert('Funcionalidad aun no disponible, actualmente esta en desarollo');
                break;
            case "Eliminar":
                enviar_eliminacion_padres(ids);
                break;
        }
    }

    function descargar_padres_excel(qtype, query) {
        window.location = '/administracion/do_buscar_padres_excel?qtype=' + qtype + '&query=' + query;
    }

    function enviar_eliminacion_padres(ids) {
        $.ajax({
            url: 'administracion/eliminar_padres',
            type: 'POST',
            data: JSON.stringify({
                ids: ids
            }),
            dataType: 'json',
            contentType: 'application/json',
            success: function(data) {
                if(data.status === "OK") {
                alert('Se eliminaron los Padres seleccionados.');
                $('#flex2').flexReload();
                }
                else {
                    mostrar_error_tecnico();
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                mostrar_error_tecnico();
            }
        });
    }

    function mostrar_alta_nuevo_padre() {

        $.ajax({
            url: '/administracion/alta_nuevo_padre',
            method: 'GET',
            contentType: 'text/html',
            success: function(data) {
                $("#ventana_padre").html(data).dialog('open', { title: 'Alta de nuevo Padre'});
            }
        });

    }

    function mostrar_consulta_padre(id_padre) {
        $.ajax({
            url: '/administracion/consulta_padre',
            data: { 'id_padre' : id_padre },
            method: 'GET',
            contentType: 'text/html',
            success: function(data) {
                $("#ventana_padre").html(data).dialog('open', { title: 'Consultando Padre'});
            }
        });
    }

</script>

<div id="ventana_padre"></div>