<div class="contenido-tab">

  <div class="col-izquierda">

  <form action="" method="post" id="actualizar_configuracion"
class="pure-form  pure-form-stacked" >

   <fieldset>
     <legend>   <img src="http://www.clipartbest.com/cliparts/4c9/dBG/4c9dBGdcE.png" width="32px" height="32px">
       Servidor de Correo Saliente
     </legend>

     <label for="smtp_ip">Dirección</label>
     <input type="text"  name="smtp_ip" id="smtp_ip" readonly value="localhost"/>
     <label for="smtp_port">Puerto</label>
     <input type="text"  name="smtp_ip" id="smtp_port" readonly value="25"/>
     <label for="smtp_ip">Usuario</label>
     <input type="text"  name="smtp_auth_usr" id="smtp_auth_usr" readonly value=""/>
     <label for="smtp_pass">Contraseña</label>
     <input type="text"  name="smtp_auth_pass" id="smtp_auth_pass" readonly value=""/>
  </fieldset>
   <fieldset>
     <legend>   <img src="https://cdn1.iconfinder.com/data/icons/New-Social-Media-Icon-Set-V11/512/email.png" width="32px" height="32px">
       Mensajes de Correo
     </legend>

     <label for="smtp_ip">Remitente</label>
     <input type="text"  name="smtp_ip" id="smtp_ip" readonly value="Notificador PAPE ASDRA"/>
     <label for="smtp_port">Asunto</label>
     <input type="text"  name="smtp_ip" id="smtp_port" readonly value="Sr/a. Papá/Mamá"/>
     
  </fieldset>

    <input type="button" disabled onClick="/*enviar_formulario_configuracion();*/" class="pure-button pure-button-primary" name="submit" value="Actualizar Todas las Configuraciones" id="submitbutton"/>

  </form>
  
</div>
  <div class="col-derecha">

    <form action="" method="post" id="mantenimiento"
          class="pure-form  pure-form-stacked" >

    <fieldset>
    <legend>   <img src="http://www.mricons.com/store/png/1756_2668_128_advanced_advancedsettings_settings_setup_icon.png" width="32px" height="32px">
      Mantenimiento
    </legend>

      <label for="id_mantenimiento">Mantenimiento</label>
      <select id="id_mantenimiento">
        <option value=""></option>
        <%@mantenimientos.each do | mantenimiento | %>
        <option title="<%=mantenimiento.descripcion_larga%>" value="<%= mantenimiento.plan %>"><%="#{mantenimiento.plan} - #{mantenimiento.descripcion_corta}"%></option>
        <% end %>
     </select>
    <input type="button" onClick="enviar_formulario_mantenimiento();" class="pure-button pure-button-primary" value="Ejecutar Mantenimiento" title="Dependiendo del uso del sistema, algunos Mantenimientos pueden demorar.">
      </fieldset>
    </form>

    <!-- <fieldset>
        <form action="" method="post" id=""
              class="pure-form  pure-form-stacked" >


            <legend>   <img src="assets/analytics.png" width="32px" height="32px">
              Estado de Redes Sociales
            </legend>

          </fieldset>
    </form>
    -->

  </div>

  <script type="text/javascript">

    function enviar_formulario_mantenimiento(sender) {

        var id_mantenimiento_val = $('#id_mantenimiento option:selected').val();

        if(id_mantenimiento_val === '') {
            alert('Debe seleccionar una Plan de Mantenimiento');
            return;
        }

        var formURL = "<%=administracion_do_mantenimiento_path%>>";

            $.ajax({
                url : formURL,
                type: "POST",
                data : {
                    id_mantenimiento : id_mantenimiento_val
                },
                success:function(data, textStatus, jqXHR) {
                    if(data.status==="OK") {
                        // async
                    }
                    else {
                        mostrar_error_tecnico();
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    mostrar_error_tecnico();
                }
            });

        $("#modal_mantenimiento_encurso").dialog({
            modal: true,
            buttons: {
                Ok: function () {
                    $(this).dialog("close");
                }
            }
        });
    }

    $("#actualizar_configuracion").validate({
        invalidHandler: function(event, validator) {
            $("#modal_padre_alta_fallida_revisar_campos_obligatorios").dialog({
                        modal: true,
                        buttons: {
                            Ok: function () {
                                $(this).dialog("close");
                            }
                        }
                    }
            );
        },
        submitHandler: function() {

        },
        rules: {
            "apellidos"     : { required: true, minlength: 2 },
            "nombres"       : { required: true, minlength: 2 },
            "correo"        : { required: true, email: true },
            "tipo"          : { required: true }
        }
    });

    $.validator.messages.required = 'Este campo es de carga obligatoria.';

</script>

  <div id="modal_mantenimiento_encurso" title="Mensaje" style="display:none;">
    Se inicio el mantenimiento seleccionado, este proceso puede demorar, la ejecución continuará.
  </div>

  <div id="modal_padre_alta_exitosa" title="Mensaje" style="display:none;">
    El nuevo Padré ha sido dado de alta en forma exitosa!
  </div>

  <div id="modal_padre_alta_fallida_revisar_campos_obligatorios" title="Mensaje" style="display:none;">
    El nuevo Pádre no puede ser dado de alta porque algunos campos son obligatorios y no fueron completados, revise los campos indicados (*) y luego vuelva a aceptar.
  </div>

</div>
