<!DOCTYPE html>
<html>
<head>
  <title>Bienvenido a Papá Escucha</title>


  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/flick/jquery-ui.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="icon" type="image/png" href="http://blogbeyousalud.com/wp-content/uploads/2014/04/oreja-beyou.png">

</head>
<body>

<center>

  <img src="https://travis-ci.org/gonzalovinas/asdra-papa-escucha.svg?branch=master">

  <a href="http://asdra.org.ar/">
    <img src="/assets/company-logo.png">
  </a>

</center>

<div id="tabs" >
  <ul>
    <li><a href="/welcome/resumen">Últimas Novedades</a></li>
    <li><a href="/entrevista/buscar_entrevistas">Consulta(s) Entrevista(s)</a></li>
    <li><a href="/entrevista/alta_nueva_entrevista">Alta de Nueva Entrevista</a></li>
    <li><a href="#tab-administracion">Administración</a></li>
    <li><a href="#tab-acerca">Acerca</a></li>

  </ul>

  <div id="tab-acerca">
  gonzalo.vinas@gmail.com
    <br>
    <img src="http://www.creativeroots.org/wp-content/uploads/2009/05/argentina_logo.jpg" >
    <img src="http://upload.wikimedia.org/wikipedia/commons/1/16/Ruby_on_Rails-logo.png">
    <img src="http://devget.net/wp-content/uploads/2014/05/html-css-js.png">
    <img src="http://code.macournoyer.com/thin/images/logo.gif">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJXCj8KFZZajlx9GcqinSEdGTbwY7--QJi0FbJAPT3ZMxHKRa754X-WoeM">
    <img src="http://ryandunn.co/wp-content/uploads/2011/09/jquery-logo1.png">
    <img src="http://upload.wikimedia.org/wikipedia/en/thumb/7/72/JQuery_UI_Logo.svg/559px-JQuery_UI_Logo.svg.png">
    <img src="https://lh4.googleusercontent.com/-Akw6Ziuoduo/AAAAAAAAAAI/AAAAAAAAAAA/1XTWCC9QcQE/photo.jpg">
    <img src="http://3.bp.blogspot.com/-bgNO7WW-v8M/UN1L8u8lohI/AAAAAAAAAKs/_5QZc0KG1J0/s640/transparent_ubuntu_logo.png">
    <img src="http://progopedia.com/static/upload_img/2009/11/18/logo.gif">
    <img src="http://siliconangle.com/files/2013/05/git-logo.jpg">
    <img src="http://t0.gstatic.com/images?q=tbn:ANd9GcRn5SEA8NV8QQCUat_h7mI3E49-kB0xxaAez3S8wpI1MV0ThX5K">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCQhTUfHi2f7asc3WeoYQ4CdPmuA8gukof46jT1cvAiPSSrUc4">
    <img src="http://www.besthosting.org/wp-content/uploads/2013/08/382px-SQLite370.svg_.png">
    <img src="http://computer-vision-talks.com/articles/2014-02-23-using-travis-ci/travis-logo.png">

  </div>

  <div id="tab-administracion">
    <ul>
      <li><a href="/administracion/alta_nuevo_padre">Padres</a></li>
      <li><a href="/administracion/mensaje_novedad">Mensajes de Novedades</a></li>
      <li><a href="/administracion/configuracion">Sistema</a></li>
      <li><a href="#tab-admin-acerca">Acerca</a></li>
    </ul>

    <div id="tab-admin-acerca" style="display: none">
      Puede acceder a distintos sistemas en la nube para la administración de:
      <br>
      <br>
      <img src="http://t0.gstatic.com/images?q=tbn:ANd9GcRn5SEA8NV8QQCUat_h7mI3E49-kB0xxaAez3S8wpI1MV0ThX5K" width="100px" height="100px">
      <img src="/assets/link.png"><a href="https://github.com/gonzalovinas/asdra-papa-escucha">Repositorio de código fuente con control de versionado en <b>GitHub</b></a>
      <br>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCQhTUfHi2f7asc3WeoYQ4CdPmuA8gukof46jT1cvAiPSSrUc4" width="100px" height="100px">
      <img src="/assets/link.png"><a href="http://asdrapapaescucha.myjetbrains.com/">Reporte y resolución de incidencias en <b>Youtrack</b></a>
      <br>
      <img src="http://www.testically.org/wp-content/uploads/2011/11/twitter.png" width="100px" height="100px">
      <img src="/assets/link.png"><a href="https://travis-ci.org/gonzalovinas/asdra-papa-escucha/">Integración Continua con <b>Travis</b></a>

    </div>
  </div>


</div>

<div id="modal_error_tecnico" title="Error" style="display:none;">
  <p>Ha ocurrido un error técnico. Contacte al administrador del sistema.</p>
</div>


</body>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="http://demo.cnanney.com/apple-counter-revisited/js/flipcounter.js"></script>



<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


<!-- <%= csrf_meta_tags %> -->

<script type="text/javascript">
    $(document).ready(function() {
        $(function () {
            $("#tabs").tabs();
            $("#tab-administracion").tabs();
        });
    });

    function mostrar_error_tecnico() {
        $("#modal_error_tecnico").dialog({
            modal: true,
            buttons: {
                Ok: function () {
                    $(this).dialog("close");
                }
            }
        });
    }


    $.validator.messages.required = 'Este campo es de carga obligatoria.';
    $.validator.messages.email    = 'La dirección de correo no esta bien escrita ej: nombre@dominio.';

    $.datepicker.regional['es'] = {clearText: 'Effacer', clearStatus: '',
        closeText: 'sluiten', closeStatus: 'Onveranderd sluiten ',
        prevText: 'anterior', prevStatus: 'Zie de vorige maand',
        nextText: 'siguiente', nextStatus: 'Zie de volgende maand',
        currentText: 'Huidige', currentStatus: 'Bekijk de huidige maand',
        monthNames: ['enero','febrero','marzo','abril','mayo','junio',
            'julio','augosto','septiembre','octubre','noviembre','diciembre'],
        monthNamesShort: ['ene','feb','mar','abr','may','jun',
            'jul','aug','sep','oct','nov','dec'],
        weekHeader: 'Sm', weekStatus: '',
        dayNames: ['domingo','lunes','martes','miércoles','jueves','sabado','domingo'],
        dayNamesShort: ['do', 'lu','ma','mi','ju','vi','sa'],
        dayNamesMin: ['do', 'lu','ma','mi','ju','vi','sa'],
        dayStatus: 'Gebruik DD als de eerste dag van de week', dateStatus: 'Kies DD, MM d',
        dateFormat: 'dd/mm/yy', firstDay: 1,
        initStatus: 'Kies een datum', isRTL: false};

    $.datepicker.setDefaults($.datepicker.regional['es']);


</script>


</html>
