<!DOCTYPE html>
<html>
<head>
  <title>Bienvenido a Papá Escucha</title>

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/flick/jquery-ui.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="icon" type="image/png" href="http://www.hostalestacion.com/images/telefono.png">
</head>
<body>

<center>

  <a href="http://asdra.org.ar/">
    <img src="/assets/company-logo.png">
  </a>

</center>

<div id="tabs" >
  <ul>
    <li><a href="/welcome/resumen">Últimas Novedades</a></li>
    <li><a href="/entrevista/buscar_entrevistas">Consulta(s) Entrevista(s)</a></li>
    <li><a href="/entrevista/alta_nueva_entrevista">Alta de Nueva Entrevista</a></li>
    <li><a href="#tab-reportes">Reportes</a></li>
    <li><a href="#tab-administracion">Administración</a></li>
  </ul>

  <div id="tab-reportes">
    ...Los Reportes aun no estan disponibles, estan siendo desarrollados...
  </div>
  <div id="tab-administracion">
    <ul>
      <li><a href="#tab-admin-padres">Padres</a></li>
      <li><a href="/administracion/mensaje_novedad">Mensajes de Novedades</a></li>
    </ul>
    <div id="tab-admin-padres" >
      <p>...La administración de los Padres no esta disponible, esta siendo desarrollada...</p>
    </div>
  </div>


</div>

<div id="modal_error_tecnico" title="Error" style="display:none;">
  <p>Ha ocurrido un error técnico. Contacte al administrador del sistema.</p>
</div>


</body>

<!--http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>



<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


<!-- <%= csrf_meta_tags %> -->

<script type="text/javascript">
    $(document).ready(function() {
        $(function () {
            $("#tabs").tabs();
            $("#tab-administracion").tabs();
        });
    });

    function mostrar_error_tecnico() {
        $("#modal_error_tecnico").dialog({
            modal: true,
            buttons: {
                Ok: function () {
                    $(this).dialog("close");
                }
            }
        });
    }


    $.validator.messages.required = 'Este campo es de carga obligatoria.';
    $.validator.messages.email    = 'La dirección de correo no esta bien escrita ej: nombre@dominio.';

    $.datepicker.regional['es'] = {clearText: 'Effacer', clearStatus: '',
        closeText: 'sluiten', closeStatus: 'Onveranderd sluiten ',
        prevText: 'anterior', prevStatus: 'Zie de vorige maand',
        nextText: 'siguiente', nextStatus: 'Zie de volgende maand',
        currentText: 'Huidige', currentStatus: 'Bekijk de huidige maand',
        monthNames: ['enero','febrero','marzo','abril','mayo','junio',
            'julio','augosto','septiembre','octubre','noviembre','diciembre'],
        monthNamesShort: ['ene','feb','mar','abr','may','jun',
            'jul','aug','sep','oct','nov','dec'],
        weekHeader: 'Sm', weekStatus: '',
        dayNames: ['domingo','lunes','martes','miércoles','jueves','sabado','domingo'],
        dayNamesShort: ['do', 'lu','ma','mi','ju','vi','sa'],
        dayNamesMin: ['do', 'lu','ma','mi','ju','vi','sa'],
        dayStatus: 'Gebruik DD als de eerste dag van de week', dateStatus: 'Kies DD, MM d',
        dateFormat: 'dd/mm/yy', firstDay: 1,
        initStatus: 'Kies een datum', isRTL: false};

    $.datepicker.setDefaults($.datepicker.regional['es']);


</script>


</html>
